{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% if response %}
<div class="alert {{ response.success ? 'alert-success' : 'alert-danger' }}" role="alert">
  {{response.msg}}
</div>
{% endif %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<div>
{% for file in files %}
<div>
        <div>{{ file.name }}</div>
        <div>{{ file.version }}</div>
        <div><img src="{{ file.path }}"></div>
</div>
    {% endfor %}
</div>

{% endblock %}
